@model IP3Latest.Models.Document

@{
    ViewBag.Title = "Edit";
}



<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.DocumentID)
    @Html.HiddenFor(model => model.CreationDate)
    @Html.HiddenFor(model => model.DocumentStatus)
    @Html.HiddenFor(model => model.FilePath)

    <div class="form-horizontal">
        <h4>Document</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DocTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        @ViewBag.Message
        <div class="form-group">
            @Html.LabelFor(model => model.RevisionNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RevisionNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RevisionNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocumentAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DocumentAuthor")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distributee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Distributee")
            </div>
        </div>
    </div>
    <div class="form-actions no-color">
        <input type="submit" value="Edit" class="btn btn-primary" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
