@model IP3Latest.Models.AdminPasswordModels

@{
    ViewBag.Title = "Edit Password - " + Model.FullName;
}
<h2>Edit Password - @Model.FullName</h2>

@using (Html.BeginForm("EditPassword", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="col-md-2">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Submit" />
}
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

